@import url('./styles/theme.css');

body {
  font-family: 'Circular-std';
  min-height: 150vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  width: 100%;
  border-bottom: 1px solid var(--grey-color-300);
  text-align: center;
  padding: 20px 0px;
}

.header__image {
  width: 58px;
}

.wrapper {
  display: flex;
  gap: 40px;
  padding-top: 40px;
}

.wrapper__section {
  width: 100%;
  min-width: 50%;
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery__select-image {
  width: 100%;
}

.gallery__items {
  display: flex;
  gap: 20px;
}

.gallery__item {
  width: 100%;
  height: 130px;
  border-radius: 8px;
  border: 2px solid var(--grey-color-300);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--white);
  cursor: pointer;
}

.gallery__item:hover {
  border-color: var(--grey-color-600);
}

.gallery__item > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery__item--highlighted {
  height: 400px;
  padding: inherit;
  position: relative;
  overflow: hidden;
  cursor: default;
}

.gallery__item--active, .gallery__item--active:hover {
  border-color: var(--black);
}

.features {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  gap: 30px;
  margin-top: 100px;
}

.features__item {
  list-style: none;
  text-align: center;
}

.features__item > img {
  height: 40px;
}

.features__item > p {
  font-size: 18px;
}

.details {
  display: flex;
  flex-direction: column;
}

.details__titles {
  display: flex;
  gap: 18px;
  padding: 0px;
}

.details__titles_element {
  list-style: none;
  font-size: 19px;
  color: var(--grey-color-700);
  cursor: pointer;
}

.details__titles_element--active {
  color: var(--black);
  position: relative;
}

.details__titles_element--active:after {
  content: ' ';
  width: 100%;
  height: 2px;
  background-color: var(--black);
  position: absolute;
  left: 0;
  bottom: -2px;
}

.details__description {
  color: var(--grey-color-700);
  line-height: 1.5;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}


@media screen and (max-width: 1280px) {
  .gallery__item {
    height: 100px;
  }
  
  .gallery__item--highlighted {
    height: 336px;
  }
}

