@font-face {
    font-family: "Circular-std";
    src: url("./Circular-Std-Book.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Circular-std";
    src: url("./Circular-Std-Bold.otf");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Circular-std";
    src: url("./Circular-Std-Medium.otf");
    font-weight: 500;
  }
  